<div class="header">
  <nav class="navbar top-navbar navbar-expand-md navbar-light justify-content-between">
    <!-- Left Aligned -->
    <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
    <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
    <!-- Logo -->
    <div class="navbar-header">
      <!-- fix this index -->
      <a class="navbar-brand" href="index.html">
        <!-- Logo icon -->
        <b><img src="/images/logo.png" alt="homepage" class="dark-logo" /></b>
        <!-- Logo text -->
        <span><img src="/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
      </a>
    </div>

    <div class="navbar-collapse">

      <ul class="navbar-nav mr-auto mt-md-0">
        <!-- Role -->
        <li class="nav-item"><a class="hidden-sm-down text-muted">{{role}}</a></li>
      </ul>

      <!-- Right Aligned -->
      <ul class="navbar-nav my-lg-0">
        <!-- Messages -->
        <li><app-messages-menu></app-messages-menu></li>
        <!-- Notifications -->
        <app-notifications></app-notifications>
        <!-- Profile -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user.username}}&nbsp;&nbsp;<img src="images/users/5.jpg" alt="user" class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated zoomIn">
            <ul class="dropdown-user">
              <li><a [routerLink]="[ mainpath, { outlets: { content: 'profile' } }]"><i class="ti-user"></i> Profile</a></li>
              <li><a href="#"><i class="ti-settings"></i> Settings</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout"><i class="fa fa-power-off"></i> Logout</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
