<div class="header">
  <nav class="navbar top-navbar navbar-expand-md navbar-light justify-content-between">

      <!-- Logo -->

      <div class="navbar-header">
          <a class="navbar-brand" href="index.html">

              <!-- Logo icon -->
              <b><img src="/images/logo.png" alt="homepage" class="dark-logo" /></b>
              <!--End Logo icon -->

              <!-- Logo text -->
              <span><img src="/images/logo-text.png" alt="homepage" class="dark-logo" /></span>
          </a>
      </div>
    <!-- End Logo -->
    <div><button mat-raised-button [routerLink]="['/logout']" class = "btn second-button">
              <span>logout</span>
      </button>
    </div>
  </nav>
</div>
<!-- End header header -->
