<mbsc-form [options]="formSettings">
    <mbsc-eventcalendar [data]="events" [options]="eventSettings" #mbscEventCal="mobiscroll"></mbsc-eventcalendar>
    <div class="mbsc-form-group">
        <div class="mbsc-form-group-title">Add New Event</div>
            <div class="mbsc-form-group-title">Type</div>
            <div class="mbsc-btn-group">
                <mbsc-button>Study</mbsc-button>
                <mbsc-button>Personal</mbsc-button>
            </div>
        <mbsc-input [(ngModel)]="eventText">Title</mbsc-input>
        <mbsc-textarea [(ngModel)]="eventDesc">Description</mbsc-textarea>
    </div>
    <div class="mbsc-form-group">
        <mbsc-range [(ngModel)]="eventDate" [options]="rangeSettings" #mbscRange="mobiscroll">
            <mbsc-range-start>Starts</mbsc-range-start>
            <mbsc-range-end>Ends</mbsc-range-end>
        </mbsc-range>
    </div>
    <div class="mbsc-form-group mbsc-btn-group-block">
        <mbsc-button (click)="addEvent()">Add Task</mbsc-button>
    </div>
</mbsc-form>
