<!-- Start Page Content -->
        <div class="row bg-white m-l-0 m-r-0 box-shadow ">
            <!-- Column -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-two">
                            <header>
                                <div class="avatar">
                                    <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="Allison Walker" />
                                </div>
                            </header>

                            <h3>Patricia Benites</h3>
                            <div class="desc">
                                Escuela de Ingeniería de Computadoras - 4to Año
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Progreso proyecto para próximos semestres</h4>
                        <div id="extra-area-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- column -->
        <div class="row">
            <!-- /# column -->
            <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Cursos matrículados - RumboEx </h4>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>Cálculo I</td>
                                            <td><span class="badge badge-primary">Inhabilitado</span></td>
                                            <td>January 22</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td>Física</td>
                                            <td><span class="badge badge-success">Activo</span></td>
                                            <td>January 30</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td>Ingles</td>
                                            <td><span class="badge badge-danger">Desaprobado</span></td>
                                            <td>January 25</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>
                <!-- /# column -->
                <!-- column -->
                <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body browser">
                                <p class="f-w-600">Horas de Estudio <span class="pull-right">95%</span></p>
                                <div class="progress ">
                                    <div role="progressbar" style="width: 95%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Progreso en clase<span class="pull-right">90%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 90%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Progreso en programa<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Progreso proyectado<span class="pull-right">65%</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: 65%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
        </div>
        <!-- End PAge Content -->
