<div class="row">
  <!--<mat-card>-->
    <!--<div class="row">-->
      <!--<div class="col-sm-6">-->

      <!--</div>-->
      <!--<div class="col-sm-6">-->

      <!--</div>-->
    <!--</div>-->
    <div class="col-sm-12">
      <div class="row bg-white m-l-0 m-r-0 box-shadow ">
            <!-- Column -->

            <!--<div class="col-lg-4">-->
                <!--<div class="card">-->
                    <!--<div class="card-body">-->
                        <!--<div class="card-two">-->
                            <!--<header>-->
                                <!--<div class="avatar">-->
                                    <!--<img src="https://randomuser.me/api/portraits/women/21.jpg" alt="Allison Walker" />-->
                                <!--</div>-->
                            <!--</header>-->

                            <!--<h3>Patricia Benites</h3>-->
                            <!--<div class="desc">-->
                                <!--Escuela de Ingeniería de Computadoras - 4to Año-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

          <div class="col-sm-4">
    <div class="table-responsive">
      <h2>My Courses</h2>
      <table class="table table-hover ">
        <thead>
        <tr>
          <th>Name</th>
          <th>Grade</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <!--<div *ngFor="let c of courses">-->
          <tr *ngFor="let c of courses">
            <th scope="row"><a [routerLink]="[ '/main', { outlets: { content: 'course' } }]" [queryParams]="{ course: c.codification }" >{{c.name}}</a></th>
            <td>{{c.grade}}</td>
            <td><span *ngIf="c.status=='PASSING'" class="badge badge-success">PASSING</span>
                <span *ngIf="c.status=='NOT PASSING'" class="badge badge-danger">NOT PASSING</span>
                <span *ngIf="c.status=='SURVIVING'" class="badge badge-warning">SURVIVING</span>
            </td>
          </tr>
        <!--</div>-->
        <!--<tr>-->
          <!--<th scope="row">1</th>-->
          <!--<td>Cálculo I</td>-->
          <!--<td><span class="badge badge-primary">Inhabilitado</span></td>-->
          <!--<td>January 22</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th scope="row">2</th>-->
          <!--<td>Física</td>-->
          <!--<td><span class="badge badge-success">Activo</span></td>-->
          <!--<td>January 30</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<th scope="row">3</th>-->
          <!--<td>Ingles</td>-->
          <!--<td><span class="badge badge-danger">Desaprobado</span></td>-->
          <!--<td>January 25</td>-->
        <!--</tr>-->
        </tbody>
      </table>
    </div>
  </div>
            <!-- Column -->
            <!-- column -->
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Time spent per task</h4>
                        <!--<div id="extra-area-chart"></div>          -->
                        <div id="donutchart" style="width: 540px; height: 300px;"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
  <!--</mat-card>-->


</div>
