<app-topnavbar></app-topnavbar>

<!-- Left Sidebar  -->
<div class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
          <ul id="sidebarnav">
              <li class="nav-devider"></li>
              <li class="nav-label">Home</li>
              <li class="nav-item"> <a class="has-arrow  " routerLink="/dashboard" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
              </li>
              <li class="nav-label">Courses</li>
              <li> <a class="has-arrow  " href aria-expanded="false"><i class="fa fa-columns"></i><span class="hide-menu">Courses</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a href="layout-blank.html">Cálculo I</a></li>
                      <li><a href="layout-boxed.html">Física</a></li>
                      <li><a href="layout-fix-header.html">Ingles</a></li>
                  </ul>
              </li>
              <li class="nav-label">Schedule</li>
              <li> <a class="has-arrow  " href aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Schedule</span></a>
                  <ul aria-expanded="false" class="collapse">
                      <li><a [routerLink]="[{ outlets: { content: ['schedule/today'] } }]">Today</a></li>
                      <li><a [routerLink]="[{ outlets: { content: ['schedule/tomorrow'] } }]">Tomorrow</a></li>
                      <li><a [routerLink]="[{ outlets: { content: ['schedule/this-week'] } }]">This Week</a></li>
                      <li><a [routerLink]="[{ outlets: { content: ['schedule/next-week'] } }]">Next Week</a></li>
                      <li><a [routerLink]="[{ outlets: { content: ['schedule/calendar'] } }]">Calendar</a></li>
                  </ul>
              </li>
          </ul>
      </nav>
      <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->

<!-- Page wrapper  -->
<div class="page-wrapper">

  <app-breadcrumb></app-breadcrumb>

    <!-- Container fluid  -->
    <div class="container-fluid">

      <router-outlet name="content"></router-outlet>

    </div>

    <!-- End Container fluid  -->
</div>
<!-- End Page wrapper  -->
