
      <!-- Start Page Content -->
      <div class="row">

        <div class="col-lg-8">
            <div id='calendar'><app-popover></app-popover></div>


          </div>

          <div class="col-lg-4">
            <app-modal></app-modal>
                      <div class="card">
                          <div class="card-body">
                              <h4 class="card-title">To do</h4>
                              <div class="card-content">
                                  <div class="todo-list">
                                      <div class="tdl-holder">
                                          <div class="tdl-content">
                                              <ul>This is super hardcoded
                                                <!--<li *ngFor="task in personal_task">-->
                                                  <!--{{task.title}}-->
                                                <!--</li>-->
                                                  <li>
                                                      <label>
                            <input type="checkbox"><i class="bg-primary"></i><span>Hacer Practica II de física</span>
                            <a href='#' class="ti-close"></a>
                          </label>
                                                  </li>
                                                  <li>
                                                      <label>
                            <input type="checkbox" checked><i class="bg-success"></i><span>Estudiar para examen de matemáticas</span>
                            <a href='#' class="ti-close"></a>
                          </label>
                                                  </li>
                                                  <li>
                                                      <label>
                            <input type="checkbox" checked><i class="bg-warning"></i><span>Hacer compras para la nevera</span>
                            <a href='#' class="ti-close"></a>
                          </label>
                                                  </li>
                                                  <li>
                                                      <label>
                            <input type="checkbox" checked><i class="bg-danger"></i><span>Realizar rutina de ejercicios</span>
                            <a href='#' class="ti-close"></a>
                          </label>
                                                  </li>

                                                  <li>
                                                      <label>
                            <input type="checkbox" checked><i class="bg-success"></i><span>Reunión de grupo para takehome de Calculo I</span>
                            <a href='#' class="ti-close"></a>
                          </label>
                                                  </li>
                                              </ul>
                                          </div>
                                          <input type="text" class="tdl-new form-control" placeholder="Type here">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

      </div>
      <div class="row">

          <div class="col-lg-12">
              <div id='calendar2'></div>
            </div>


        </div>
      <!-- End PAge Content -->
