<div >
  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-header>
            <mbsc-card-title>{{course.name}}</mbsc-card-title>
            <mbsc-card-subtitle>{{course.codification}} - {{course.section}}</mbsc-card-subtitle>
        </mbsc-card-header>
        <mbsc-card-footer>Progress Bar or something with numbers and colors</mbsc-card-footer>
    </mbsc-card>
  </div>

  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-content>
            <mbsc-card-title>Grades</mbsc-card-title>
        </mbsc-card-content>
    </mbsc-card>
  </div>

  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-content>
          <p>See tutors</p>
          <p>Send email to professor</p>
        </mbsc-card-content>
    </mbsc-card>
  </div>
</div>
