<div >
  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-header>
            <mbsc-card-title>CourseName</mbsc-card-title>
            <mbsc-card-subtitle>Codification-Section</mbsc-card-subtitle>
        </mbsc-card-header>
        <mbsc-card-footer>Progress Bar or something with numbers and colors</mbsc-card-footer>
    </mbsc-card>
  </div>

  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-content>
            <mbsc-card-title>Grades</mbsc-card-title>
        </mbsc-card-content>
    </mbsc-card>
  </div>

  <div >
    <mbsc-card [options]="settings">
        <mbsc-card-content>
            See tutors
            Send email to professor
        </mbsc-card-content>
    </mbsc-card>
  </div>
</div>
