<div class="row">
  <div class="col-sm-6">
    <mat-card>
      <mat-card-title>{{course.course_name}}</mat-card-title>
      <mat-card-subtitle>{{course.codification}} - {{course.section}}</mat-card-subtitle>
    </mat-card>

    <mat-card>
      <mat-card-title>Progress</mat-card-title>
      <mat-card-content>
        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
        <mat-chip class="offset-9">80 %</mat-chip>
      </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <mat-card-title>Grades</mat-card-title>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
          <mat-list>
            <mat-list-item><a routerLink="#">See tutors</a></mat-list-item>
            <!--<mat-divider [inset]="true"></mat-divider>-->
            <mat-list-item><a routerLink="#">Send email to professor</a></mat-list-item>
          </mat-list>
        </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6">
    <mat-card>
      <!--<mat-grid-list cols="2" rowHeight="fit">-->
        <!--<mat-grid-tile>-->
          <mat-card-title>TO DO</mat-card-title>
          <mat-list *ngFor="let t of undoneTasks">
            <mat-list-item><mat-checkbox>{{t.title}}</mat-checkbox></mat-list-item>
          </mat-list>
        <!--</mat-grid-tile>-->
        <mat-divider [vertical]="true"></mat-divider>
        <!--<mat-grid-tile>-->
          DONE
          <mat-list *ngFor="let t of doneTasks">
            <mat-list-item><mat-checkbox [checked]="true" [color]="grey" >{{t.title}}</mat-checkbox></mat-list-item>
          </mat-list>
        <!--</mat-grid-tile>-->
      <!--</mat-grid-list>-->
    </mat-card>
  </div>
</div>
