<!--<div>-->
  <!--<mat-card>-->
    <!--<div class="card-body">-->
      <!--<div class="card-two">-->
        <!--<div class="row">-->
          <!--<div class="col-sm-4">-->
            <!--<header>-->
              <!--<div class="avatar">-->
                <!--<img src="https://randomuser.me/api/portraits/women/21.jpg" alt="{{user.name}}" />-->
              <!--</div>-->
            <!--</header>-->
          <!--</div>-->
          <!--<div class="col-sm-8">-->
            <!--<h3>{{user.name}}</h3>-->
            <!--<div class="desc">-->
              <!--Escuela de Ingeniería de Computadoras - 4to Año-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</mat-card>-->
<!--</div>-->

<div class="row">

<mat-card class="col">
  <div class="card-body">
    <div class="card-two">
      <header>
        <div class="avatar">
          <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="{{user.name}}" />
        </div>
      </header>
      <h3>{{user.name}} {{user.lastname}}</h3>
      <div class="desc">
        {{user.program_name}}
      </div>
    </div>
  </div>
</mat-card>

<mat-card class="col-sm-8">
  <mat-card-title>{{user.role}} Details</mat-card-title>
  <h5>Email Address</h5>
  <div>{{user.email}}</div><br/>
  <h5>Username</h5>
  <div>{{user.username}}</div><br/>
  <h5>Full Name</h5>
  <div>{{user.name}} {{user.lastname}}</div><br/>
  <h5>Student Number</h5>
  <div>{{user.student_num}}</div>
</mat-card>

</div>
