
<mat-tab-group>
  <mat-tab label="Student"> <app-studentlogin></app-studentlogin> </mat-tab>
  <mat-tab label="Advisor"> <app-advisorlogin></app-advisorlogin> </mat-tab>
  <mat-tab label="Counselor"> <app-counselorlogin></app-counselorlogin> </mat-tab>
  <mat-tab label="Mentor"> <app-mentorlogin></app-mentorlogin> </mat-tab>
  <mat-tab label="Psychologist"><app-psychologistlogin></app-psychologistlogin></mat-tab>
  <mat-tab label="Professor"> <app-professorlogin></app-professorlogin> </mat-tab>
  <mat-tab label="Admin"> <app-adminlogin></app-adminlogin> </mat-tab>

</mat-tab-group>




<!--
<mat-nav-list>

<mat-grid-list cols="6" rowHeight="6:4">
   <mat-grid-tile>
 <mat-list-item> <button mat-fab  (click)="admin()">Admin</button> </mat-list-item>
     </mat-grid-tile>

      <mat-grid-tile>
  <mat-list-item> <button mat-fab  (click)="counselor()">Counselor</button> </mat-list-item>
        </mat-grid-tile>

         <mat-grid-tile>
  <mat-list-item> <button mat-fab  (click)="professor()">Professor</button> </mat-list-item>
           </mat-grid-tile>

            <mat-grid-tile>
  <mat-list-item> <button mat-fab  (click)="advisor()">Advisor</button> </mat-list-item>
              </mat-grid-tile>

               <mat-grid-tile>
  <mat-list-item> <button mat-fab (click)="mentor()">Mentor</button> </mat-list-item>
                 </mat-grid-tile>

  <mat-grid-tile>
 <mat-list-item> <button mat-fab  (click)="student()">Student</button> </mat-list-item>
     </mat-grid-tile>
  </mat-grid-list>
</mat-nav-list>
-->
