<mat-card>
  <mat-list>
    <h1 matSubheader>Students</h1>
    <mat-paginator [length]="200"
              [pageSize]="10"
              [pageSizeOptions]="[1, 5, 10, 25, 100]">
    </mat-paginator>

    <mat-tab-group>
      <mat-tab *ngFor="let department of departments" label="{{department.name}}">
        <div *ngFor="let student of students">
          <mat-list-item *ngIf="student.enrolled_program==department.num">
            <h3 matLine> {{student.name}} {{student.lastname}}</h3>
            <p matLine>
              <span> {{student.email}} </span>
              <span class="demo-2" align="right">Send Message</span>
            </p>
          </mat-list-item>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!--<mat-list-item *ngFor="let student of students">-->
      <!--<h3 matLine> {{student.name}} {{student.lastname}}</h3>-->
      <!--<p matLine>-->
        <!--<span> {{student.email}} </span>-->
        <!--<span class="demo-2"> &#45;&#45; Message </span>-->
      <!--</p>-->
    <!--</mat-list-item>-->
  </mat-list>
</mat-card>
