<div class="unix-login" *ngIf="user">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="login-content card">
                    <div class="login-form">
                        <h4>Admin Login</h4>
                      <app-erroralert></app-erroralert>
                        <form  (ngSubmit)="onLogin()" novalidate #loginForm="ngForm">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="username" [(ngModel)]="user.username" name="username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div class="checkbox">
                                <label>
                                        <input name="remember" type="checkbox" [(ngModel)]="user.remember"> Remember Me
                                </label>
                                <label class="pull-right">
                                        <a href="#">Forgotten Password?</a>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
